@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: "SF Pro Display";
    src: url(../fonts/SF-Pro-Display-Semibold.otf) format("opentype");
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight */

@font-face {
    font-style: normal;
    font-weight: 400; /* Соответствует значению normal */
    font-family: "SF Pro Display";
    src: url('../fonts/sf-pro-display-regular.otf') format('opentype');
}

/* ConsoleLogger */

.spConsoleLogger, #spConsoleLogger, .console-logger {
    /*display: none;*/
    margin: 0px 0px 0px 0px;
}
.ConsoleLoggerTitle {
    text-align: right;
    width:100%;
}

/* navMenuAdmin */

ul.navMenuAdmin {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 10px;
    list-style-type: none;
    box-shadow: 0 4px 20px 0 rgb(0, 54, 117, 0.25);
    background-color: #FEFFBA;
    border-radius: 6px;
}

.navMenuAdmin li {
    position: relative;
    margin: 0;
    padding: 0;
}

/* NavMenuSecond */

@media (min-width: 1220px) {
    #navMenuSecond {
        display: none;
        overflow: auto;
    }
}

@media (max-width: 1220px) {

    ul#navMenuSecond {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        margin: 0 10px;
        list-style-type: none;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 20px 0 rgb(0, 54, 117, 0.25);
        max-width: 1100px;
    }

    #navMenuSecond li {
        position: relative;
        margin: 0;
        padding: 10px;
    }
}

    .sp-blue {
        background-color: #00A3FF7D;
    }

    .sp-table tr:hover {
        background-color: #00A3FF7D;
    }

    tr.selected .btn-link {
        color: #ccc;
    }


    .custom-tooltip {
        --bs-tooltip-bg: var(--bs-primary);
    }


    .cc-body {
        background-image: url('../img/bg.png');
        height: 100vh;
    }

    .cc-bg-white {
        background-color: white;
    }


    @media screen and (min-width: 1100px) {
        .cc-results {
            position: fixed;
            right: 40px;
            width: 400px;
        }
    }


    .cc-h1 {
        /* Заголовок */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 51px;
        text-align: center;
        /* цвет текст small */
        color: #265370;
    }


    .cc-center {
        align-items: center;
    }

    .cc-text-center {
        text-align: center;
    }

    .cc-card {
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        gap: 10.63px;
        /* не ативный элемент */
        background: #FFFFFF;
        /* тень кнопки */
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.2);
        border-radius: 8.85542px;
        border: 3px #fff solid;
    }

    .ExtraServices .cc-card:hover,
    .ExtraServices .cc-card-enable:hover {
        border: 3px #67F679 solid;
    }

    .ExtraServices .cc-card .count-es,
    .ExtraServices .cc-card-enable .count-es {
        display: none;
    }

    .ExtraServices .cc-card:hover .count-es,
    .ExtraServices .cc-card-enable:hover .count-es {
        display: block;
        height: 38px;
    }

    .ExtraServices .cc-card:hover img.icon,
    .ExtraServices .cc-card-enable:hover img.icon {
        display: none;
    }

    .cc-card-enable {
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        gap: 10.63px;
        /* не ативный элемент */
        /*background: #76d9ff66;*/
        /* тень кнопки */
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.2);
        border-radius: 8.85542px;
        border: 3px #67F679 solid;
    }

    .cc-h2 {
        height: 34px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        /* identical to box height, or 34px */
        /* black */
        color: #000000;
    }

    .cc-button {
        width: 270px;
        height: 54px;
        /* ЛОГО ПАНДА */
        background: #79F767;
        /* тень кнопки */
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        border: none;
    }

    .cc-padding-10 {
        padding: 10px;
    }

    .cc-minus {
        /*    width: 21px;
    height: 21px;*/
        float: left;
        padding: 10px;
    }

    .cc-plus {
        /*    width: 21px;*/
        height: 21px;
        float: right;
        padding: 0px 10px;
    }

    .cc-h-48 {
        min-height: 48px;
    }

    .cc-m-0 {
        margin: 0px;
    }


    .btn-link {
        padding: 5px;
    }


    .collapse:not(.show) {
        /*display: inline !important;*/
    }

    #YMapsID-parent {
        padding: 15px
    }

    #YMapsID {
        width: 100%;
        height: 500px;
    }

    /* Start Loader */

    .lds-grid {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

        .lds-grid div {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #cef;
            animation: lds-grid 1.2s linear infinite;
        }

            .lds-grid div:nth-child(1) {
                top: 8px;
                left: 8px;
                animation-delay: 0s;
            }

            .lds-grid div:nth-child(2) {
                top: 8px;
                left: 32px;
                animation-delay: -0.4s;
            }

            .lds-grid div:nth-child(3) {
                top: 8px;
                left: 56px;
                animation-delay: -0.8s;
            }

            .lds-grid div:nth-child(4) {
                top: 32px;
                left: 8px;
                animation-delay: -0.4s;
            }

            .lds-grid div:nth-child(5) {
                top: 32px;
                left: 32px;
                animation-delay: -0.8s;
            }

            .lds-grid div:nth-child(6) {
                top: 32px;
                left: 56px;
                animation-delay: -1.2s;
            }

            .lds-grid div:nth-child(7) {
                top: 56px;
                left: 8px;
                animation-delay: -0.8s;
            }

            .lds-grid div:nth-child(8) {
                top: 56px;
                left: 32px;
                animation-delay: -1.2s;
            }

            .lds-grid div:nth-child(9) {
                top: 56px;
                left: 56px;
                animation-delay: -1.6s;
            }

    @keyframes lds-grid {
        0%, 100% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }
    }

    /* End Loader */

    .sp-title {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */
        letter-spacing: -0.023em;
        color: #000838;
    }

    .bi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .bi::before {
        font-size: 1.1rem;
    }

    .register {
        padding-top: 1.1rem;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 54, 117, 0.1);
        border-radius: 12px;
        margin: 10px;
        padding-bottom: 20px;
    }

    @media (min-width: 1100px) {
        .div-for-table {
            max-width: 1200px;
        }
    }

    @media (min-width: 1100px) {
        .div-for-table {
            width: 100%;
        }
    }

    @media (max-width: 1100px) {
        .div-for-table {
            max-width: 84vw;
        }
    }

    table.dataTable tbody tr.sp-tr {
        background: #F3F3F3;
    }

    table#example {
        border-collapse: separate;
        border-spacing: 0 15px;
    }

        table#example td:first-child {
            border-radius: 10px 0px 0px 10px;
        }

        table#example td:last-child {
            border-radius: 0px 10px 10px 0px;
        }

    .inner {
        width: 1100px;
    }

    .outer {
        width: 100%;
        display: flex;
        justify-content: center;
    }




    .dataTables_wrapper .buttons-colvis {
        border: solid 1px white;
        border-radius: 6px;
    }

    button.dt-button:hover:not(.disabled) {
        border: solid 1px #cef !important;
    }

    .dataTables_filter {
        border-bottom: solid 1px grey
    }

    .dataTables_wrapper .dataTables_filter input {
        border: none !important;
    }

    .sp-text-overflow {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }

    .response {
        background-color: aqua;
    }



    @media (max-width: 1220px) {
        .sp-navlink-text {
            display: none;
        }

        .sidebar {
            display: none;
        }

        .nav {
            /* border: solid 1px;*/
            /* width: 80px; */
        }

        .navMenuSecond {
            display: block;
        }
    }

    #btnAddPurchase {
        float: right;
    }

    @media (min-width: 1080px) {
        .sp-navlink-text {
            /*display: block;*/
        }
    }

    .navMenuAdmin .sp-navlink-text {
        float: right;
        padding-left: 10px;
        padding-top: 5px;
        font-weight: 600;
    }

    .admin-canvas {
        /*background-color: #FEFFBA;*/
        
        margin: 0px 5px;
        padding: 0px 10px 0px 0px;
    }

    .subTaskText {
        white-space: normal;
        width: 70%;
    }

    .admin-canvas button:hover i {
        color: white;
    }

    .admin-canvas button {
        margin: 0px !important;
        padding: 0px 5px;
    }

.receivers table.example {
    width: 80%;
}