@page "/AddDepartmentDeliveryParcel"
@*@attribute [Authorize(Policy = "AdminOnly")]*@

@*@if(!string.IsNullOrWhiteSpace(cashierName))*@
<h3>AddDepartmentDeliveryParcelComponent</h3>

@code {

    //[CascadingParameter]

}
