.sp-blue {
    background-color: #00A3FF7D;
}

.sp-table tr:hover {
    background-color: #00A3FF7D;
}

tr.selected .btn-link {
    color: #ccc;
}


.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}


.cc-body {
    background-image: url('../img/bg.png');
    height: 100vh;
}

.cc-bg-white {
    background-color: white;
}


@media screen and (min-width: 1100px) {
    .cc-results {
        position: fixed;
        right: 40px;
        width: 400px;
    }
}


.cc-h1 {
    /* Заголовок */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    /* цвет текст small */
    color: #265370;
}


.cc-center {
    align-items: center;
}

.cc-text-center {
    text-align: center;
}

.cc-card {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 10.63px;
    /* не ативный элемент */
    background: #FFFFFF;
    /* тень кнопки */
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8.85542px;
    border: 3px #fff solid;
}

.ExtraServices .cc-card:hover,
.ExtraServices .cc-card-enable:hover {
    border: 3px #67F679 solid;
}

.ExtraServices .cc-card .count-es,
.ExtraServices .cc-card-enable .count-es {
    display: none;
}

.ExtraServices .cc-card:hover .count-es,
.ExtraServices .cc-card-enable:hover .count-es {
    display: block;
    height: 38px;
}

.ExtraServices .cc-card:hover img.icon,
.ExtraServices .cc-card-enable:hover img.icon {
    display: none;
}

.cc-card-enable {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 10.63px;
    /* не ативный элемент */
    /*background: #76d9ff66;*/
    /* тень кнопки */
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8.85542px;
    border: 3px #67F679 solid;
}

.cc-h2 {
    height: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    /* identical to box height, or 34px */
    /* black */
    color: #000000;
}

.cc-button {
    width: 270px;
    height: 54px;
    /* ЛОГО ПАНДА */
    background: #79F767;
    /* тень кнопки */
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: none;
}

.cc-padding-10 {
    padding: 10px;
}

.cc-minus {
    /*    width: 21px;
    height: 21px;*/
    float: left;
    padding: 10px;
}

.cc-plus {
    /*    width: 21px;*/
    height: 21px;
    float: right;
    padding: 0px 10px;
}

.cc-h-48 {
    min-height: 48px;
}

.cc-m-0 {
    margin: 0px;
}


@media (min-width: 1100px) {
    .div-for-table {
        max-width: 1200px;
    }
}

@media (min-width: 1100px) {
    .div-for-table {
        width: 100%;
    }
}

.btn-link {
    padding: 5px;
}


.collapse:not(.show) {
    display: inline !important;
}