<Tooltip Placement="Placement.Top" Title="@Text">
    <div class="sp-text-overflow">
        @Text
    </div>                                 
</Tooltip> 

@code{
    [Parameter]
    public string Text { get; set; } = "";
}