@using Gap.CoreBusiness;

@*CountrySelectCmp*@

@if (CountryList == null)
{
    <span class="h3">CountryList == null</span>
    
} else {
    <span class="h5">Отметьте страны в которых у вас есть зарегистрированная компания, участвующая в данной обработка</span>
    <br />
    @foreach (var country in CountryList)
    {
        <div class="form-check">
            @if (country != null){
                <input class="form-check-input" type="checkbox" value="" id="flexCheck-@country.Id" checked>
            }
            else
            {
                <input class="form-check-input" type="checkbox" value="" id="flexCheck-@country.Id">
            }
            <label class="form-check-label" for="flexCheck-@country.Id">
                @country.Name
            </label>
        </div>
    }
}

@code {
    #region Parameters
    [Parameter]
    public List<Country> CountryList { get; set; } = new();
    #endregion
}
