@using Gap.CoreBusiness;

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" 
            data-bs-toggle="collapse"
                data-bs-target="#flush-collapse-@ResultStranaParameter.Id"
                aria-expanded="false"
                aria-controls="flush-collapse-@ResultStranaParameter.Id">
            @ResultStranaParameter?.Country?.Name
        </button>
    </h2>
    <div id="flush-collapse-@ResultStranaParameter?.Id" 
        class="accordion-collapse collapse">
        @*data-bs-parent="#@AccordionId"*@
        <div class="accordion-body">
            @ResultStranaParameter?.Description
        </div>
    </div>
</div>

@code {
    #region Parameters
    [Parameter]
    public ResultCountry ResultStranaParameter { get; set; } = new();
    [Parameter]
    public string? AccordionId { get; set; }
    #endregion
}
