@page "/AdminDiscounts"

<h3>Все скидки</h3>
<br/>

<style>
    .discont{
        color:#00A3FF; font: normal 600 20px/30px SF Pro Display;
    }
</style>

<ul>
    <li>
        <span class="discont">Discount10</span>
- скидка 10%
    </li>
</ul>