@page "/Discounts"

<h3>Скидки</h3>
<br/>

<style>
    .discont{
        color:#00A3FF; font: normal 600 20px/30px SF Pro Display;
    }
</style>

<span class="discont">Discount10</span>
- скидка 10%

