@page "/TestConfiguration"

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h3>TestConfiguration</h3>

<h1>
    MailSettingsSmtpServer: @Configuration["MailSettings:SmtpServer"]
</h1>