<p>Цена: <span>@PriceCar</span> руб.</p>
<hr />
<button type="button" class="btn btn-outline-secondary">Отправить</button> 

@code {
    #region Parameter
    [Parameter]
    public double PriceCar { get; set; }
    #endregion
    // ---
}
