@inherits LayoutComponentBase

<PageTitle>LixiangBsa</PageTitle>

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4">
            <a href="/">Главная</a>
            <a href="/L7/">L7</a>
            <a href="/L8/">L8</a>
            <a href="/L9/">L9</a>
            <a href="/OptionsPg/">Options</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
