@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@context.User.Identity?.Name!</a>
        @* Сюда вставляем ссылку на страницу регистрации *@
        <a href="Identity/Account/Register">Регистрация</a>
        <form method="post" action="Identity/Account/LogOut?returnUrl=%2F">
            <button type="submit" class="nav-link btn btn-link">Выйти</button>
        </form>
    </Authorized>
    <NotAuthorized>
        @* Здесь удаляем и переносим в авторизированную зону*@
        <a href="Identity/Account/Register">Регистрация</a>
        <a href="Identity/Account/Login">Вход</a>
    </NotAuthorized>
</AuthorizeView>