@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Подтверждение адреса электронной почты";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<a href="/Identity/Account/Login">
    <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Вход
</a>