@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Подтверждение забытого пароля";
}

<div class="ld-outer">
    <div class="ld-inner">
        <div class="identity-account ld-card">
            <h1 class="h3">@ViewData["Title"]</h1>
            <p>
                Пожалуйста, проверьте свой email, чтобы сбросить пароль.
            </p>
            <partial name="_LinkLoginRV" />
        </div>
    </div>
</div>