@page
@model RegisterModel

@{
    ViewData["Title"] = "Регистрация";
}

<div class="ld-outer">
    <div class="ld-inner">
        <div class="ld-card register">
            <div class="container">
                <div class="row">

                @*<div class="row" style="height:100vh; ">*@
                    <div class="col-md-12">

                            <h1 class="sp-title">@ViewData["Title"]</h1>
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <label asp-for="Input.Email">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                    <label asp-for="Input.Password">Пароль</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                    <label asp-for="Input.ConfirmPassword">Повторить пароль</label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>

                @*
                                <div class="form-group">
                                    <label asp-for="Input.FistName">Имя</label>
                                    <input asp-for="Input.FistName" class="form-control" />
                                    <span asp-validation-for="Input.FistName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Input.LastName">Фамилия</label>
                                    <input asp-for="Input.LastName" class="form-control" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                *@


                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Регистрация</button>
                            </form>
                            <partial name="_LinkLoginRV" />
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
