body {
    background: #EEF7FF;
}

/*.register-box {*/
    /* Rectangle 77 */

    /*position: absolute;
    height: 590px;
    top: 217px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 54, 117, 0.1);
    border-radius: 12px;
}*/