@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<div class="ld-outer">
    <div class="ld-inner">
        <div class="ld-card">
            <h1>@ViewData["Title"]</h1>
            <br/>
            <p>
                Ваш пароль был сброшен. Пожалуйста, <a asp-page="./Login"> кликните здесь чтоб войти.</a>.
            </p>
            <partial name="_LinkLoginRV" />
        </div>
    </div>
</div>